.registration {
margin: auto;
background-color: #6f8e6b;
align-items: center;
text-align: center;
align-content: center;
width: 100%;
}

.registration h1 {
  font-style: italic;
  font-weight: bold;
  font-size: 50px;
  color: #d6d4d4;
}

.number p{
  border-radius: 10px;
  border-style: groove;
  border-color: #070707;
  width: 18%;
  font-size: 50px;
  padding-left: 20px;
  background-color: #f7c922;
}

.number h2{
  color: #d6d4d4;
  font-size: 30px;
  margin-left: -30px;
}

h3{
  margin-top: 50px;
  color: #5e0006;
  margin-left: -29%;
  text-decoration: underline;
  font-size: 25px;
}

.number {
  border-style: double;
  border-color: #6d0208;
  width: 50%;
  margin-left: 25%;
}

li {
  width: 16%;
  font-size: 25px;
  margin-left: 25%;
  margin-top: -5px;
  color: #5e0006;
  border-color: #440a00;
  border-radius: 10px;
  border-style: groove;
  background-color: #f7c922;
  font-weight: bold;
  padding-left: 5px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
}

.myAdd {
  background-color: #5e0006;
  color: #d6d4d4;
  border-radius: 3px;
  font-weight: bold;
  width: 17%;
  height: 30px;
  margin-left: 380px;
  font-size: 18px;
}

.myClear{
  background-color: #5e0006;
  color: #d6d4d4;
  border-radius: 3px;
  font-weight: bold;
  width: 17%;
  height: 30px;
  margin-left: 380px;
  font-size: 18px;
}

.myText {
  height: 25px;
  width: 210px;
  margin-left: 10px;
  background-color: #b2b0b0;
  font-size: 20px;
  color: #5e0006;
}

#list {
  margin-left: 30%;
  margin-top: -2.5%;
}

#dropdown {
  width: 15%;
  height: 40px;
  background-color: #5e0006;
  color: #d6d4d4;
  border-radius: 3px;
  font-weight: bold;
  font-size: 20px;
  margin-left: -440px;
}
