.greeting {
margin: auto;
background-color: #eae1e1;
align-items: center
text-align: center;
align-content: center;
border-radius: 10px;
width: 50%;
height: 500px;
border-style: inset;
border-color: #821202;
}

.registration {
  background-color: #f2e8b3;
}

.registration h1 {
  font-style: italic;
  font-weight: bold;
  font-size: 70px;
  color: #280100;
}

.registration p{
  border-radius: 10px;
  border-style: groove;
  border-color: #070707;
  width: 18%;
  font-size: 50px;
  padding-left: 20px;
  background-color: #f7c922;

}
